.foto{
    border-radius: 50%;
    z-index: 1;
    padding: 10px;
    background-color: #B7E3CC;
    float: left;
    
}

.cabeçalho{
    z-index: 2;
}

h3.cabeçalho, h1.cabeçalho {
    margin-bottom: 10px;
}

h4.cabeçalho, h5.cabeçalho {
    margin-left: 240px;
    margin-top: 40px;
    }

body {
    background-color: #DEE2FF;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h4.cabeçalho {
    font-family:Arial, Helvetica, sans-serif;
}

h5.cabeçalho{
    font-family: 'Courier New', Courier, monospace;
    margin-top: -10px;
}

div {
    border-style:groove;
}

h3.cabeçalho{
    margin-bottom: -20px;
    margin-left: 100px;
}

ol li:hover{
    background-color:#B7E3CC;
}

ol li:active{
    color:#DEE2FF;
}

.skills, .form, .exp, .redes, p, a{
    margin-left: 15px;
}

a:hover{
    background-color: #DEE2FF;
}

.sumario {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
