.foto{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.cabeçalho{
    text-align: center;
}

body {
    background-color: #DEE2FF;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h4.cabeçalho {
    font-family:Arial, Helvetica, sans-serif;
}

h5.cabeçalho{
    font-family: 'Courier New', Courier, monospace;
    margin-top: -10px;
}

div {
    border-style:groove;
}

h3.cabeçalho{
    margin-bottom: -20px;
}

ol li:hover{
    background-color:greenyellow;
}

ol li:active{
    color:#DEE2FF;
}